/* Element Tags */
nav {
  display: flex;
  height: 120px;
  background-color: #536162;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
  color: #f3f4ed;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}

/* Class Tags */
.tweeterLogo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
}

.tweeterNew {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  font-weight: 300;
}

.boldNav {
  font-weight: 700;
}

/* Responsive Elements */
@media only screen and (min-width: 900px) {
nav {
  background-color: #c06014;
  background-image: none;
}
}